body{
	background-color:#ff3333;
}
#home{
	width:1024px;
	margin:auto;
    text-align:center;
}

#gombok{
	position: absolute;
	left: 50%;
	margin-left: -125px;;
}

#login{
	background-color:#ff3333;
	border-radius:28px;
	border:1px solid #ff3333;
	display:inline-block;
	cursor:pointer;
	color:white;
	font-family:Arial;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}
#login:hover {
	background-color:white;
	border-color:white;
	color:#ff3333;
}

#login a,#register a{
	text-decoration:none;
	color:white;
}

#login a:hover,#register a:hover{
	color:#ff3333;
}

#register{
	background-color:#ff3333;
	border-radius:28px;
	border:1px solid #ff3333;
	display:inline-block;
	cursor:pointer;
	color:whiter;
	font-family:Arial;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}
#register:hover {
	background-color:white;
	border-color:white;
	color:#ff3333;
}
