body{
	background-color:#ff3333;
}
#home{
	width:100%;
    text-align:center;
}

#gombok{
	 position: absolute;
  left: 50%;
  margin-left: -100px;
}

#login{
	background-color:#ff3333;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:28px;
	border:1px solid #ff3333;
	display:inline-block;
	cursor:pointer;
	color:whiter;
	font-family:Arial;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}
#login:hover {
	background-color:white;
	border-color:white;
	color:#ff3333;
}

#register{
	background-color:#ff3333;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:28px;
	border:1px solid #ff3333;
	display:inline-block;
	cursor:pointer;
	color:whiter;
	font-family:Arial;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}
#register:hover {
	background-color:white;
	border-color:white;
	color:#ff3333;
}
